USE [master]
GO
/****** Object:  Database [StadiumFilterData]    Script Date: 04/09/2023 12:41:36 ******/
CREATE DATABASE [StadiumFilterData]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StadiumFilterData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StadiumFilterData]
GO
/****** Object:  Table [dbo].[MyData]    Script Date: 04/09/2023 12:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[NoOfChildren] [int] NULL,
	[NoOfPets] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Healthy] [bit] NULL,
	[Happy] [bit] NULL,
	[Subscription] [varchar](16) NULL,
 CONSTRAINT [PK_MyData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[MyData] ON 

INSERT [dbo].[MyData] ([ID], [FirstName], [LastName], [NoOfChildren], [NoOfPets], [StartDate], [EndDate], [Healthy], [Happy], [Subscription]) VALUES (1, N'Martina', N'Vaughn', 10, 9, CAST(N'2023-10-01T12:00:00.000' AS DateTime), CAST(N'2023-10-02T12:00:00.000' AS DateTime), 1, 0, N'Unsubscribed')
INSERT [dbo].[MyData] ([ID], [FirstName], [LastName], [NoOfChildren], [NoOfPets], [StartDate], [EndDate], [Healthy], [Happy], [Subscription]) VALUES (2, N'Bruce', N'Hester', 10, 1, CAST(N'2023-06-19T12:00:00.000' AS DateTime), CAST(N'2024-05-01T12:00:00.000' AS DateTime), 1, 0, N'Unsubscribed')
INSERT [dbo].[MyData] ([ID], [FirstName], [LastName], [NoOfChildren], [NoOfPets], [StartDate], [EndDate], [Healthy], [Happy], [Subscription]) VALUES (3, N'Wayne', N'Andrews', 5, 6, CAST(N'2023-04-07T00:00:00.000' AS DateTime), CAST(N'2024-03-26T00:00:00.000' AS DateTime), 1, 1, N'Subscribed')
GO
SET IDENTITY_INSERT [dbo].[MyData] OFF
GO
USE [master]
GO
